.Searchbar{
    border: 10px solid rgb(223, 223, 223);
    height: 26px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
input{
    height: 26px;
    width: 210px;
    border-color: white;
}
.img1{
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 33px;
    height: 28px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
